@import "tailwindcss";

.pattern-display {
  width: fit-content;
}

canvas.spell-viz {
  --dot-color: #777f;
  --dot-color: #777f;
  --start-dot-color: #f009;
  --moving-dot-color: #0fa9;

  --path-color: darkgray;
  --visited-path-color: #0c8;

  --dot-scale: 0.0625;
  --moving-dot-scale: 0.125;
  --line-scale: 0.08333;
  --pausetext-scale: 0.5;
}

/* For hexcasting_render */
img.spell-viz {
  object-fit: contain;
}

.render-option {
  cursor: pointer;
}

.palette-option {
  cursor: pointer;
}

.spell-settings-dropdown {
  position: absolute;
}

.spell-settings-toggle {
  font-size: large;
}

.palettes,
.pattern-settings {
  --default: #ff6bff, #a81ee3, #6490ed, #b189c7;
  --turbo: #3f3d9c, #4096fe, #19e3b8, #84fe50, #dfde36, #fd8c27, #d63405,
    #7a0402;
  --dark2: #1b9e77, #d95f02, #7570b3, #e7298a, #66a61e, #e6ab02, #a6761d,
    #666666;
  --tab10: #1f77b4, #ff7f0e, #2ca02c, #d62728, #9467bd, #8c564b, #e377c2,
    #7f7f7f, #bcbd22, #17becf;
}

.pattern-settings {
  --line-thickness: 0.12;
  --point-color: #ffffff;
  --point-inner-radius: 0.04;
  --point-outer-radius: 0.07;
}
@media (prefers-color-scheme: light) {
  .pattern-settings {
    --point-color: #000000;
  }
}

.monocolor-settings {
  --palette-offset: 0;
}

.gradient-settings {
  --segs-per-color: 15;
}

.segment-settings {
  --triangle-inner-radius: 0.13;
  --triangle-outer-radius: 0.2;
}

:root {
  --triangle-color: #fff;
}

[role="button"] {
  cursor: pointer;
}

.dropdown-menu {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border: 1px solid;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  min-width: 120px;
  @apply bg-gray-700;
}

.dropdown-menu {
  font-size: 14px;
  text-align: left;
  list-style: none;
}

.pd-dropdown.open > .dropdown-menu {
  display: block;
}

.dropdown-menu .divider {
  margin: 4px 0;
}
.dropdown-menu .dropdown-header {
  padding: 3px 9px;
}
/* https://codepen.io/Magisters/pen/MwbeWv */
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
  width: max-content;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > span:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  margin-top: 5px;
  margin-right: -10px;
  @apply border-l-gray-100;
}
.dropdown-submenu:hover > span:after {
  border-left-color: #fff;
}
.dropdown-menu > li > span {
  display: block;
  padding: 3px 20px;
  clear: both;
}
.dropdown-menu > li > span:hover {
  @apply bg-gray-600;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
